# Binaries for programs and plugins
* # Ignore all files without extension

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with -mode=count
*.out

# Dependency directories (remove if vendoring is done instead)
/vendor

# Go workspace file
/go.work

# Env file
.env